@model RestaurantWebSite.Models.OrderDetail

@{
    ViewBag.Title = "Edit";
}

<h1 align="center">Edit Order</h1>
<hr style="border:0; height: 1px; background-image:linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,0.75), rgba(0,0,0,0))">
<br />



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.OrderDetailID)

        <div class="form-group">
            @Html.LabelFor(model => model.OrderID, "Order Number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model=>model.OrderID, new { htmlAttributes = new {@class = "form-control", @readonly="readonly"}})
                @Html.ValidationMessageFor(model => model.OrderID, "", new { @class = "text-danger" })
                @Html.HiddenFor(model=>model.OrderID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item.ItemName, "Item Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.EditorFor(model=>model.Item.ItemName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ItemID, "", new { @class = "text-danger" })
                @Html.HiddenFor(model=>model.ItemID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitPrice, "Unit Price", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Details", new { id = Model.OrderID }, new { @class = "btn btn-info btn-sm" })
 


</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
